body, .jumbotron{
    padding: 30px;
    background-image: url("images/meadow.jpg");
    background-size: cover;
}

.floater{
background: white;
/* font-size: 19px; */
/* line-height: 1.5; */

/* max-width: 500px; */
/* margin: 0 auto; */
/* position: relative; */
margin-bottom: 30px;
transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
z-index: 11;
}

.floater input[type=text]{
    padding: 30px 20px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.4) all;
}

.floater-bottom{
    padding: 6px 10px 8px;
    text-align: right;
    border-top: 1px solid white;
}

floater-bottom button{
    padding: 4px 8px;
    font-size: 10px
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease opacity;
    z-index: 10;
    pointer-events: none;
}


body.show-floater .floater{
    transform: scale(1.1);
}


body.show-floater .floater input[type=text]{
    padding: 50px 20px;
    font-size: 18px;
}

body.show-floater .overlay{
    opacity: 1;
    pointer-events: all;
}

.content{
    max-width: 500px;
margin: 0 auto;
font-size: 19px; 
line-height: 1.5; 
position: relative;
border-radius: 5px;
}

.bookmark{
    display: flex;
    background: white;
    color:#999;
    padding: 20px;
    margin-top: 20px;
    transition: 0.3s ease all;
    border-bottom: 1px solid #DDD;
    font-size: 16px;
    position: relative;


}

.bookmarks-list{
    z-index: 9;
    position: relative;
}

.bookmark:hover{
    color:#1ce;
    text-decoration: none;
   
}


.bookmark:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bookmark:first-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 0;
}

.bookmark .img{
    background-color: red;
    border-radius: 3px;
    background-image:url('https://cdn.pixabay.com/photo/2023/03/12/21/05/egg-7847875_1280.png') ;
    background-size: cover;
    width: 80px;
    height: 60px;
    margin-right: 20px;
}

.bookmark .title{
    display: flex;
    align-items: center;

}

.bookmark .glyphicon-remove{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
    transition: 0.3s ease color;
    cursor: pointer;
}

.bookmark:hover.glyphicon-remove{
    color: purple;
}

